

body{
  background: url("./image/tulips-breast-cancer-ribbon.jpg"),
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5));
  width: 100%;

  
  /*margin: 0 auto;*/
  ; 
}

.top{
  width: 95%;
  padding: 10px;
  position: relative;
  top: 25%;
  /*left: 40%;*/
  right: 0%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

a:hover{
  color: red;
}